{{#if floating}}
<a href="/stories/edit/{{storyId}}" class="btn-floating halfway-fab blue"><i class="fas fa-edit fa-small"></i></a>
{{else}}
<a href="/stories/edit/{{storyId}}"><i class="fas fa-edit fa-small"></i></a>
{{/if}}